* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Mcontainer {
    max-width: 50rem;
    margin: 0px auto;
}

.apply {
    max-width: 40rem;
    margin: 3rem auto;
    padding: 1rem;
    background-color: hsl(181, 85%, 35%);
    box-shadow: 6px 9px 10px rgba(50, 47, 47, 0.1);
    border-radius: 10px;
}

.form_container {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}
.form_control #job_role{
    cursor: pointer;
}
label {
    margin-bottom: 5px;
    font-size: 17px;
    color: black;
    font-weight: bold;
}

input,
select,
textarea {
    padding: 5px 8px;
    border: 1.2px solid #000000;
    border-radius: 5px;
    font-size: 15px;

}
.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.button_container button {
    background-color: rgb(233, 116, 14);
    border:1.5px solid black;
    border-radius: 0 15px;
    padding: 6px;
    color: white;
    transition: 0.3s ease-in;
}

.button_container button:hover {
    background-color: rgb(61, 14, 233);
    cursor: pointer;
}

.text_area_control {

    grid-column: 1 / span 2;
}

.text_area_control textarea {

    width: 100%;
}

@media(max-width:560px) {
    .text_area_control {
        grid-column: 1 / span 1;
    }
}