/* Header.css file  */
.e-header-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100; 
  }
  
  .e-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 2px 2px rgba(87, 130, 138, 0.1);
    /* border: 0.1px solid rgb(155, 232, 238); */
    border-bottom: 2px solid rgb(106, 187, 193);
    border-radius: 0 0 14px 14px;
    background-color: rgb(135, 230, 238); 
  }
  
  .e-header h1 {
    font-size: 24px;
    margin: 0;
  }