.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.shape:nth-of-type(1){
    width: 150px;
    height: 150px;
    position: fixed;
    top: 100px;
    left: 500px;
    opacity: .4;
    z-index: -1;
    background: linear-gradient(64deg,#f34868 23%, #f24768 23%, #9e00ec 80%);
    animation: wave 8s  ease-in-out infinite;
}
.shape:nth-of-type(2){
    width: 300px;
    height: 300px;
    background: #7998ff;
    animation: wave 8s  ease-in-out infinite;
    position: fixed;
    top: 100px;
    left: -15%;
    opacity: .4;
    z-index: -1;
}
.shape:nth-of-type(3){
    width: 400px;
    height: 400px;
    background:#379eff;
    position: fixed;
    bottom: 70%;
    right: -10%;
    opacity: .4;
    z-index: -1;
    animation: wave 12s  ease-in-out infinite;
}
.shape:nth-of-type(4){
    width: 200px;
    height: 200px;
    background: linear-gradient(64deg,#f34868 23%, #f24768 23%, #9e00ec 80%);
    position: fixed;
    bottom: -5%;
    left: -5%;
    opacity: .3;
    z-index: -1;
    animation: wave 10s  ease-in-out infinite;
}
.shape:nth-of-type(5){
    width: 450px;
    height: 450px;
    background: linear-gradient(64deg,#f34868 23%, #f24768 23%, #1882ed 80%);
    position: fixed;
    bottom: -9rem;
    right: 20rem;
    opacity: .4;
    z-index: -1;
    animation: wave 8s  ease-in-out infinite;
}
.shape:nth-of-type(6){
    width: 200px;
    height: 200px;
    background: linear-gradient(64deg, #9e00ec 80%, #f24768 23%,#f34868 23%);
    position: fixed;
    bottom: 10%;
    right: -10%;
    opacity: .4;
    z-index: -1;
    animation: wave 8s  ease-in-out infinite;
}
.shape:nth-of-type(7){
    width: 350px;
    height: 350px;
    background: linear-gradient(64deg,#f34868 23%, #f24768 23%, #1882ed 80%);
    position: fixed;
    bottom: 27rem;
    right: 20rem;
    opacity: .4;
    z-index: -1;
    animation: wave 8s  ease-in-out infinite;
}
@keyframes wave{
    0%,100%{
        border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
    }
    60%{
        border-radius: 25% 75% 50% 50% / 25% 50% 45% 80%;
    }
}

@media (max-width: 680px) {
    .nav__menu{
      display: none;
    }
  }