@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}
body{
  /* background-image: url(./Images/Background.jpg); */
  /* background-image: linear-gradient(40deg,#1cb88b,rgb(153, 20, 194)); */
  background-Size: cover;
  background-Repeat: no-repeat;
  min-height: 100vh;
}
.App {
  text-align: center;
}

.app{
  text-align: center;
  padding: 1px;
 
}

.body-container{
  padding: 20px;
  text-align: center;
}

